* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#header {
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-color: #FFF8F3;
    margin-bottom: 130px;
}

/* header > nav */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 220px;
    padding-top: 50px;
    padding-bottom: 45px;
}

nav .logo {
    color: #181818;
    font-weight: 800;
    font-size: 45px;
    font-style: normal;
    cursor: pointer;
}

nav .logo .logo-orange {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 51px;
    color: #474747;
    cursor: pointer;
}

.btn-hire {
    width: 150px;
    padding: 18px 35px;
    border: none;
    color: #ffffff;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

/* header > banner */
.header-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 220px;
}

.header-banner .banner-sub-title {
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
}

.header-banner .banner-title {
    font-size: 85px;
    font-weight: 85px;
}

.header-banner .banner-description {
    font-size: 18px;
    color: #757575;
    margin-top: 20px;
}

.header-banner img {
    width: 100%;
}

.btn-cv {
    border: none;
    border-radius: 5px;
    padding: 18px 17px;
    margin: 30px 30px 0 0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #FD6E0A;
    cursor: pointer;
}

.header-banner .btn-contact {
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    background-color: #ffffff;
    color: #FD6E0A;
    padding: 18px 24px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.header-banner .btn-cv i,
.btn-contact i {
    width: 18px;
    padding-right: 10px;
}

/* section > About Me  */
#about-me {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 130px;
    padding: 131px 155px;
    background: #FFF8F3;
    text-align: center;
}

.about-title {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

.about-description {
    font-size: 18px;
    color: #757575;
    margin: 30px 0;
    line-height: 30px;
}

#about-me .about-info {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.about-info p {
    color: #757575;
}

.about-info .info-title {
    font-weight: 700;
    color: #474747;
}

/* section > What I do  */
#what-i-do {
    margin: 0 230px;
}

.what-description h1,
.resume-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.what-description p {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

#what-i-do .skills-container {
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.skills-container .skill {
    background: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    width: 267px;
    height: 377px;
}

.skill h4 {
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    margin-top: 30px;
}

.skill p {
    font-size: 16px;
    width: 201px;
    color: #757575;
    line-height: 28px;
    margin-top: 20px;
}

/* section > resume */
#resume {
    margin: 130px 230px 0;
}

#resume .resume-content {
    display: flex;
    gap: 71px;
}

.resume-content .content-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-top: 113px;
}

.resume-content .resume-item {
    margin-top: 30px;
}

.resume-item .item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item .item-subtitle {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume-item .item-para {
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #757575;
}

.resume-content hr {
    border: 1px solid #d1d1d1;
}

.resume-btn {
    text-align: center;
    margin-top: 20px;
}

/* footer */
#footer {
    margin-top: 113px;
    background: #FFF8F3;
}

.sec-footer {
    display: flex;
    gap: 300px;
    padding: 130px 0;
    margin: 0 230px;
}

.lets-connect h1, .contact h1 {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}

.lets-connect p {
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin: 20px 0 30px;
    width: 562px;
}

.lets-connect .social-links {
    display: flex;
    gap: 24px;
}

.lets-connect .social-links a {
    color: #FD6E0A;
}

.contact form input {
    border: none;
    border-radius: 5px;
    width: 461px;
    height: 64px;
}